<ion-header style="text-align: center;" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'AÑADIR_TAREA_UP' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;" [fullscreen]="true">
  <form [formGroup]="tasks" (ngSubmit)="this.sendForm()">
    <ion-item>
      <ion-input style="text-transform:uppercase;" type="text" formControlName="title" placeholder="Título"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea formControlName="description" placeholder="Descripción" autocapitalize="true" auto-grow="true">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label style="text-align: center;">{{ 'ACTIVAR_GEOLICALIZACIÓN' | translate }}</ion-label><br>
      <ion-toggle [checked]="this.geoactivated" style="text-align: center;" (ionChange)="ActivatedDesactivatedGeolo($event)"></ion-toggle>
    </ion-item>
    <div style="text-align: center;">
      <ion-button shape="round" color="primary" fill="outline" type="submit" [disabled]="!tasks.valid">{{ 'AÑADIR' | translate }}
      </ion-button>
    </div>
  </form>
  
  <ion-button *ngIf="!this.utils.verPlataforma()" style="text-align: center;" shape="round" color="primary" fill="outline" (click)="scanCode()">{{ 'ESCANEAR' | translate }}
  </ion-button>
</ion-content>