


 <ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>{{ 'OPCIONES' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="moon"></ion-icon>
        <ion-label style="text-align: center;">{{ 'MODO_OSCURO' | translate }}</ion-label>
        <ion-checkbox  [checked]="this.darkmode" (ionChange)="changeTheme($event)"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-icon name="earth"></ion-icon>
        <ion-label style="text-align: center;">{{ 'INGLES' | translate }}</ion-label>
        <ion-checkbox [checked]="this.ingles" (ionChange)="changeLenguaje2($event)"></ion-checkbox>
      </ion-item>
      <ion-button style="text-align: center;" fill="outline" slot="end" (click)="prueba()">Prueba</ion-button>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      {{ 'PERFIL_UP' | translate }}
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style="text-align: center;" >
    <img  src={{this.User.avatar}} />
    <ion-card-header>
      <ion-card-title  style="text-align: center;">{{this.User.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: center;">
      <ion-button style="text-align: center;" fill="outline" slot="end" (click)="presentAlertConfirm()">{{ 'DESCONECTAR' | translate }}</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
</div>
