<ion-header style="text-align: center;">
  <ion-toolbar>
    <ion-title>{{ 'EDITAR_NOTA' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <form [formGroup]="tasks" (ngSubmit)="this.sendForm()">
    <ion-item>
      <ion-input style="text-transform:uppercase;" type="text" formControlName="title" placeholder="Título"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea formControlName="description" placeholder="Descripción" autocapitalize="true" auto-grow="true">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label auto-grow="true">{{ 'FECHA_ACTUALIZACIÓN' | translate }} {{nota.fecha}} </ion-label>
    </ion-item>
    <ion-label style="text-align: center;">{{ 'ACTUALIZAR_GEOLICALIZACIÓN' | translate }}</ion-label><br>
    <ion-toggle style="text-align: center;" (ionChange)="ActivatedDesactivatedGeolo($event)"></ion-toggle><br>
    <ion-button shape="round" color="primary" fill="outline" type="submit" [disabled]="!tasks.valid">{{ 'EDITAR' | translate }}</ion-button>
  </form>
  <div id="mapId"></div><br>
  <div style="text-align: center;">
    <ion-button shape="round" color="primary" fill="outline" (click)="encodedText()">{{ 'COMPARTIR_NOTA_QR' | translate }}</ion-button><br>
    <ion-button shape="round" color="primary" fill="outline" (click)="Return()">{{ 'ATRÁS' | translate }}</ion-button><br>
    <div *ngIf="scannedData">
    </div>
  </div>
</ion-content>
